@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

:root {
  --color-snowgum900: #0C0C0D;
  --color-snowgum700: #2E2C30;
  --color-snowgum500: #625E66;
  
  --color-yellow900: #BF8521;
  --color-yellow700: #FAAE2B;
  
  --color-orange900: #BF3F36;
  --color-orange700: #FA5246;
  --color-orange500: #FA857D;
  
  --color-babyPowder700: #D9D9D9;
  
  --color-felgrau700:#475D5B;
  
  --color-green900: #001A16;
  --color-green700: #00332C;
  --color-green500: #33665F;
  --color-green300: #739994;
  --color-green50: #B8CCC9;
}

h1{
  font-weight: 600;
  font-size: 49px;
}

h2{
  font-weight: 600;
  font-size:  39px;
}

h3{
  font-weight: 600;
  font-size: 31px;
}

h4{
  font-weight: 600;
  font-size: 25px;
}

h5{
  font-weight: 600;
  font-size: 20px;
}

h6{
  font-weight: 600;
  font-size: 16px;
}

p{
  font-weight: 400;
  font-size: 16px;
}

label{
  font-weight: 400;
  font-size: 12px;
}





