@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --color-snowgum900: #0c0c0d;
  --color-snowgum700: #2e2c30;
  --color-snowgum500: #625e66;

  --color-yellow900: #bf8521;
  --color-yellow700: #faae2b;

  --color-orange900: #bf3f36;
  --color-orange700: #fa5246;
  --color-orange500: #fa857d;

  --color-babyPowder700: #d9d9d9;

  --color-felgrau700: #475d5b;

  --color-green900: #001a16;
  --color-green700: #00332c;
  --color-green500: #33665f;
  --color-green300: #739994;
  --color-green50: #b8ccc9;
  --transition: all 0.3s linear;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 600;
  font-size: 49px;
}

h2 {
  font-weight: 600;
  font-size: 39px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 600;
  font-size: 31px;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 600;
  font-size: 25px;
}

h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 600;
  font-size: 20px;
}

h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 600;
  font-size: 16px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
  font-size: 16px;
}

label {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
  font-size: 12px;
}
