.steps {
  width: 100%;
  background-color: #faae2b;
  padding: 72px 0 72px 0;
}

.stepsContainer {
  max-width: 1080px;
  margin: auto;
  position: relative;
}

.stepContainerText {
  text-align: left;
}

.stepsItems {
  display: flex;
  justify-content: right;
  width: 100%;
}

.stepsItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 260px;
  margin-left: 20px;
  color: white;
}

.vespaWhiteImg {
  position: absolute;
  top: -30%;
  right: -10%;
  width: 380px;
}

.vespaMerahImg {
  position: absolute;
  left: -20%;
  bottom: -50%;
  width: 600px;
}

@media (max-width: 1080px) {
  .stepsContainer {
    width: 95%;
    padding-bottom: 250px;
  }

  .vespaMerahImg {
    bottom: -20%;
    left: -55%;
    width: -25%;
  }

  .stepsItems {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 25px;
  }

  .stepItem {
    width: 100%;
  }

  .vespaWhiteImg {
    position: absolute;
    width: 325px;
    right: -70px;
    top: -130px;
  }
}
