.faqs {
  width: 100%;
  gap: 35px;
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 72px;
  align-items: center;
  background-color: #2e2c30;
  color: white;
  position: relative;
}

.faqsContainer {
  max-width: 1080px;
  width: 100%;
  padding-top: 25px;
}

.accordian {
  border-bottom: 1px solid white;
  padding-top: 24px;
}

.accordians {
  width: 70%;
  margin-left: 28%;
}

.vespaMerah {
  position: absolute;
  left: 5%;
  top: 65%;
  width: 450px;
}

.accordianQuestion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accordianAnswer {
  text-align: left;
  padding: 25px 15px 25px 15px;
}

.accordianAnswer p .accordian {
  border-bottom: 1px solid white;
  padding-top: 5px;
  padding-left: 5px;
}

.accordianArrowdown {
  font-size: 30px;
  cursor: pointer;
}

.questionTxt {
  max-width: 90%;
  text-align: left;
}

.faqs > h2 {
  line-height: 45px;
}

@media (max-width: 1080px) {
  .faqsContainer {
    width: 88%;
  }

  .vespaMerah {
    display: none;
  }

  .accordians {
    width: 95%;
    margin-left: 0;
  }
}
