.showcase {
  height: 100vh;
  width: 100%;
  /* background-size: 1440px 100%; */
  background-color: #f2f7f5;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% center;
  position: relative;
  display: flex;
  justify-content: center;
}

.showCaseNames {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.showcaseContainer {
  width: 100%;
  max-width: 1080px;
  /* border: 1px solid red; */
  margin-top: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
  color: #fa5246;
}

.showcaseContainer > h1 {
  line-height: 32px;
  font-size: 3.35rem;
  /* font-size: 54px; */
}
.showcaseContainer > h6 {
  margin-top: 16px;
}

.bookBtn {
  width: 171px;
  padding: 12px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  background-color: #fa5246;
  border: none;
  color: white;
  border-radius: 10px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 8%;
  justify-content: center;
}

.showCaseNames > h1 {
  font-family: "geoLight";
  letter-spacing: 10px;
  font-size: 70px;
}

.gettingMarriedTxt {
  font-family: "geoLight";
  letter-spacing: 10px;
}

.showcaseAndTxt {
  font-family: "mustache";
  font-weight: lighter;
  font-size: 60px;
}

@media (max-width: 1080px) {
  .showcase {
    background-position: 25% 70%;
    background-size: cover;
    background-attachment: scroll;
  }

  .showcaseContainer {
    margin: 0;
    width: 90%;
    height: 250px;
    margin-top: 30%;
  }

  .showCaseNames {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
  }

  .showcaseAndTxt {
    font-size: 50px;
  }

  .showcaseContainer > h1 {
    font-size: 2.5rem;
  }
  .showcaseContainer > h6 {
    font-size: 0.75rem;
  }
}
