.showcase {
  height: 100vh;
  width: 100%;
  background-position: 0% 70%;
  background-size: 120% 200%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
}

.showCaseNames {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.showcaseContainer {
  width: 100%;
  max-width: 1080px;
  margin-top: 170px;
  height: 500px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
  color: #fa5246;
}

.showcaseContainer > h1 {
  font-size: 80px;
}

.bookBtn {
  width: 171px;
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  background-color: #fa5246;
  border: none;
  color: white;
  border-radius: 10px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 8%;
  justify-content: center;
}

.showCaseNames > h1 {
  font-family: "geoLight";
  letter-spacing: 10px;
  font-size: 70px;
}

.gettingMarriedTxt {
  font-family: "geoLight";
  letter-spacing: 10px;
}

.showcaseAndTxt {
  font-family: "mustache";
  font-weight: lighter;
  font-size: 60px;
}

@media (max-width: 1080px) {
  .showcase {
    background-position: 20% 50%;
    background-size: cover;
  }

  .showcaseContainer {
    margin: 0;
    width: 90%;
    height: 250px;
    margin-top: 125px;
  }

  .showCaseNames {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
  }

  .showcaseAndTxt {
    font-size: 50px;
  }

  .showcaseContainer h1 {
    font-size: 50px;
  }
}
