.miscellaneous {
  width: 100%;
  padding: 72px 0 72px 0;
  padding-top: 20em;
  position: relative;
}

.miscellaneousContainer {
  max-width: 1080px;
  margin: auto;
}

.video {
  width: 80%;
  height: 50vh;
  margin: auto;
  border: 1px solid blue;
  position: absolute;
  left: 10%;
  top: -15em;
}

.miscellaneousItems{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: 50%;
  border: 1px solid var(--color-green700);
  border-radius: 20px;
  padding: 10em 5em 5em 5em;
  width: 100%;
  box-sizing: border-box;
  gap: 18% 18%;
}

.miscellaneousHeader{
  position: absolute;
  top: 30%;
  left: 32%;
  background-color: white;
  color: var(--color-green700);
  width: 38%;
}

.miscellaneousItem{
  place-self: center;
}
.miscellaneousItem>img{
  width: 100%;
}

@media (max-width: 1080px) {
  .miscellaneous {
    padding-top: 200px;
  }
  .miscellaneousContainer {
    width: 95%;
  }

  .video {
    height: 75vh;
  }

  .miscellaneousHeader{
    top:31%;
    width: 60%;
    left: 20%;
  }

  .miscellaneousHeader>h1{
    font-size: 22px;
  }

  .miscellaneousItems{
    margin-top: 50%;
    padding-top: 20%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
  }

  .miscellaneousItem{
    place-self: center;
    width: 100%;
  }

  .miscellaneousItem>img{
    width: 100%;
    max-width: 75px;
  }
  
}
