.motorOptions {
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #f2f7f5;
  color: #00332c;
}

.motorOptionsContainer {
  max-width: 1080px;
  margin: auto;
}

.motorOptionsItems {
  display: flex;
  margin-top: 3em;
}

.motorOptionsItem {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motorOptionsItem h2 {
  color: #fa5246;
}

.motorOptionsItem img {
  margin-top: 10%;
  width: 100%;
}

.motorOptionsReasons {
  margin-top: 85px;
}

.reasons {
  margin-top: 15px;
  width: 100%;
}
.reasonsWrapper {
  width: max-content;
  margin: auto;
}

.reason {
  display: flex;
  gap: 1em;
  padding: 0.7em;
}

@media (max-width: 1080px) {
  .motorOptionsContainer {
    width: 95%;
  }

  /* .motorOptionsContainer > h1 {
    font-size: 45px;
  } */

  .motorOptionsItems {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .motorOptionsItem {
    width: 100%;
  }
}
