.bikeOptionInfo {
  display: flex;
  width: 100%;
}

.bikeOptionInfoImg {
  width: 50%;
  max-height: 120px;
}

.bikeOptionHeader {
  text-align: left;
}
.bikeOptionInfoList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bikeOptionInfoList {
  padding: 0;
  text-align: left;
}

.bikeOptionInfoList li {
  list-style: none;
}

.bikeOptionInfoListItem {
  color: #90a3bf;
}

.bikeOptionInfoList li:before {
  content: "✓  ";
}

@media (max-width: 1080px) {
  .bikeOptionInfoImg {
    height: 100%;
  }
}
