.bikeOptionInfo {
  display: flex;
  width: 100%;
}

.bikeOptionInfoImg {
  width: 60%;
}

.bikeOptionInfoList li {
  list-style: none;
  display: flex;
  gap: 3px;
}

.bikeOptionInfoList li:before {
  content: "✓";
}

@media (max-width: 1080px) {
  .bikeOptionInfoImg {
    height: 100%;
  }
}
