.bikeOptionInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 128px;
}

/* .bikeOptionInfoImg {
  width: 50%;
  aspect-ratio: 16/9;
} */

.bikeOptionInfo Img {
  width: 50%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.bikeOptionHeader {
  text-align: left;
  height: 56px;
}
.bikeOptionInfoList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 40%;
}

.bikeOptionInfoList li {
  padding-right: 20px;
}

.bikeOptionInfoList {
  padding: 0;
  text-align: left;
}

.bikeOptionInfoList li {
  list-style: none;
}

.bikeOptionInfoListItem {
  color: #90a3bf;
}

.bikeOptionInfoList li:before {
  content: "✓  ";
}

@media (max-width: 1080px) {
  .bikeOptionInfoImg {
    height: 100%;
  }
}
