.searchOption {
  width: 45%;
  padding: 12px;
  border: 1px solid #00332c;
  border-radius: 10px;
  margin-bottom: 10px;
}

.searchOptionBookBtn {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}

.searchOptionInfo {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1080px) {
  .searchOption {
    width: 88%;
  }
}
