.search {
  width: 100%;
  padding-top: 20px;
  background-color: #f2f7f5;
}

.searchContainer {
  max-width: 784px;
  width: 100%;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.searchDateTimeContainer {
  background-color: white;
  padding: 24px;
}

.searchDateTime {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.searchDateTimeItem {
  width: 47%;
}

.searchDateTimeItem input {
  width: 90%;
  padding: 8px;
}

.searchBtn {
  width: 100%;
  padding: 10px;
  background-color: #00332c;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.avaiableBikes {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.avaiableBikesCategory {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
}

.avaiableBikesBtn {
  padding: 10px 25px 10px 25px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #00332c;
  border-radius: 4px;
  width: 23%;
}

.avaiableBikesBtn:focus {
  background-color: #475d5b;
  color: white;
}

.searchResults {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1%;
}

@media (max-width: 784px) {
  .searchContainer {
    width: 88%;
  }
}
