.search {
  width: 100%;
  padding-top: 20px;
  height: max-content;
  background-color: #f2f7f5;
}

.searchContainer {
  max-width: 784px;
  width: 100%;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #00332c;
}

.dateRange {
  position: absolute;
  top: 75px;
  z-index: 2;
  box-shadow: 0px 2px 21px -3px rgba(164, 219, 232, 0.75);
  -webkit-box-shadow: 0px 2px 21px -3px rgba(164, 219, 232, 0.75);
  -moz-box-shadow: 0px 2px 21px -3px rgba(164, 219, 232, 0.75);
}

.dateTimeSelection {
  display: flex;
  border: 1px solid rgba(46, 44, 48, 0.4);
  border-radius: 4px;
  justify-content: space-between;
  padding: 10px;
  color: rgba(46, 44, 48, 0.4);
  cursor: pointer;
}

.timeSelection {
  border: 1px solid rgba(46, 44, 48, 0.4);
  list-style: none;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  background-color: white;
  z-index: 2;
  padding: 0;
}

.timeSelection li {
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  padding-left: 8%;
}

.timeSelection li:hover {
  background-color: lightblue;
}

.searchDateTimeContainer {
  background-color: white;
  padding: 24px;
}

.searchDateTime {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.searchDateTimeItem {
  width: 47%;
  position: relative;
}

.searchDateTimeItem > p {
  padding-bottom: 5px;
}

.searchDateTimeItem input {
  width: 90%;
  padding: 8px;
}

.searchBtn {
  width: 100%;
  padding: 10px;
  background-color: #00332c;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.avaiableBikes {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 24px;
}

.avaiableBikesCategory {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
}

.avaiableBikesBtn {
  padding: 10px 25px 10px 25px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #00332c;
  border-radius: 4px;
  width: 23%;
}

.avaiableBikesBtn:focus {
  background-color: #475d5b;
  color: white;
}

.searchResults {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1%;
  /* box-sizing: border-box; */
}

.date {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 2;
  box-shadow: 0px 2px 21px -3px rgba(164, 219, 232, 0.75);
  -webkit-box-shadow: 0px 2px 21px -3px rgba(164, 219, 232, 0.75);
  -moz-box-shadow: 0px 2px 21px -3px rgba(164, 219, 232, 0.75);
}

@media (max-width: 784px) {
  .searchContainer {
    width: 88%;
  }
  .timeSelection {
    width: 100%;
  }
}
