.searchOption {
  width: 46.5%;
  padding: 12px;
  border: 1px solid #00332c;
  border-radius: 10px;
  margin-bottom: 20px;
}

.searchOptionBookBtn {
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}

.searchOptionInfo {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1080px) {
  .searchOption {
    width: 95%;
  }
}
