.searchOption {
  width: 45%;
  border: 1px solid var(--color-green700);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
}

.searchOptionBookBtn {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  height: 38px;
}

.searchOptionInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

@media (max-width: 1080px) {
  .searchOption {
    width: 88%;
  }
}
