.progressBar {
  width: 100%;
}

.progressBarContainer {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBarDotLine {
  display: flex;
  width: 50%;
}

.progressBarDot {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #00332c;
}

.progressBarLine {
  width: 45%;
  border-top: 1px solid black;
  margin-top: 8px;
}

.progressBarText {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.progressBarItem {
  width: 30px;
}

@media (max-width: 1080px) {
  .progressBarDot {
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }

  .progressBarLine {
    margin-top: 7px;
  }
}
