.rsvp {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 72px;
  align-items: center;
  background-color: #f2f7f5;
}

.rsvp h2 {
  margin-bottom: 25px;
}

.rsvpContainer {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  position: relative;
}

.rsvpContainer input,
textarea,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.rsvpContainer select:hover {
  cursor: pointer;
}

.rsvpBtn {
  padding: 15px;
  width: 20%;
  background-color: #00332c;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border-color: #00332c;
  margin-top: 30px;
}

.rsvpBtn:hover {
  background-color: var(--color-gold2);
  color: var(--color-blue3);
}

.rsvpSuccess {
  margin-top: 30px;
  padding: 20px;
  color: green;
  border: 1px solid green;
  width: 95%;
  max-width: 1080px;
  border-radius: 10px;
}

.rsvpSuccess h3 {
  line-height: 30px;
}

@media (max-width: 1080px) {
  .rsvpContainer {
    width: 85%;
  }

  .rsvpBtn {
    width: 30%;
  }
}
