.modalError {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}

.modalErrorContainer {
  width: 30%;
  height: max-content;
  background-color: #f2f7f5;
  padding: 25px;
  text-align: justify;
  overflow-y: auto;
}

.modalErrorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalCloseBtn {
  color: #00332c;
  padding: 15px 25px 15px 25px;
  background-color: white;
  border-color: #00332c;
  cursor: pointer;
}

.showModal {
  visibility: visible;
  z-index: 10;
}

.okButton {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  margin-top: 1em;
}

@media (max-width: 1080px) {
  .modalErrorContainer {
    width: 80%;
    height: max-content;
    background-color: #f2f7f5;
    padding: 25px;
    text-align: justify;
  }
}
