.aboutus {
  width: 100%;
  background-color: #f2f7f5;
  min-height: 100vh;
  color: var(--color-green700);
}

.aboutusContainer {
  max-width: 658px;
  margin: auto;
  width: 100%;
  padding-top: 25px;
}

.aboutusContainer img {
  width: 75%;
}

@media (max-width: 1080px) {
  .aboutusContainer {
    width: 88%;
  }
}
