.myBooking {
  background-color: #f2f7f5;
  width: 100%;
  min-height: 100vh;
}

.myBookingContainer {
  width: 100%;
  max-width: 784px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--color-green700);
}

.bookingDetail {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
  color: var(--color-green700);
}

.bookingDetailTop {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  padding-bottom: 10px;
}

.bookingDetailMid {
  display: flex;
  border-bottom: 1px solid black;
  gap: 25px;
  padding: 10px;
}

.bookingDetailMid Img {
  width: 50%;
}

.bookingDetailMidDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 10px;
}

.bookingDetailBottom {
  text-align: left;
  padding: 10px;
  word-break: break-all;
}

.cancelBtn {
  width: 100%;
  padding: 8px;
  background-color: var(--color-green700);
  color: white;
  border-radius: 4px;
  border-color: var(--color-green700);
  cursor: pointer;
}

@media (max-width: 1080px) {
  .myBookingContainer {
    width: 88%;
  }
}
